$container-color: rgb(92, 83, 83);
$container-color: antiquewhite;

$base-color: var(--jeopardy-blue);
$base-color: rgb(88, 57, 39);

$stand-color: black;

$plate-color: $container-color;
$plate-color: #d0d0d0;

$arm-color: var(--jeopardy-yellow);
$arm-color: black;

$stand-height: 15%;

$line-color: black;
$line-thickness: 1px;
$line-spacing: 12px;

.metronomeSizer {
  aspect-ratio: 1;
  width: 300px;

  background-color: $container-color;
  border-radius: 5%;

  // padding as a percent is that percent of the containing-block
  padding: 30px;
  box-sizing: border-box;

  position: relative;
}

.metronomeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  height: 100%;
  width: 100%;
}

.metronomeBase {
  width: 60%;
  height: 100%;

  background-color: $base-color;
  clip-path: polygon(35% 0%, 65% 0%, 100% 100%, 0% 100%);
  // clip-path: inset(0% 45% 0% 45% round 10px);

  position: absolute;
}

.metronomeStand {
  width: 60%;
  height: $stand-height;
  bottom: 0;

  background-color: $stand-color;
  clip-path: polygon(5.3% 0%, 94.7% 0%, 100% 100%, 0% 100%);

  position: absolute;
}

.metronomeBackPlate {
  position: absolute;
  bottom: $stand-height;
  width: 10%;
  height: 65%;
  background-color: $plate-color;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  background-image: repeating-linear-gradient(
    to top,
    $line-color 0,
    $line-color 0.5%,
    transparent 0.5%,
    transparent 15%
  );
}

.metronomePlateLine {
  position: absolute;
  bottom: $stand-height;
  width: 0.5%;
  height: 60%;
  background-color: $arm-color;
}

.metronomeArm {
  position: absolute;
  width: 3%;
  height: 60%;
  background-color: $arm-color;
  bottom: $stand-height;
  transform-origin: bottom center;
  animation: swing 1.5s ease-in-out infinite;

  border-radius: 10px;

  &::before {
    content: "";
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 250%;
    height: 10%;
    background-color: $arm-color;
  }
}

@keyframes swing {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
