.blocker .question-box {
  width: 500px;
  height: 500px;
  background-color: var(--jeopardy-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.blocker .question-box > p.empty-message {
  color: white;
}

.blocker .question-box .search-bar {
  background-color: white;
}

.blocker .search-box {
  overflow: scroll;
  max-height: 400px;
  background-color: antiquewhite;
}

.blocker .search-box .search-item {
  padding: 10px 0px;
}

.blocker .search-box .search-item p {
  margin: 0;
  color: black;
}

.blocker .search-box .search-item:hover {
  background-color: whitesmoke;
}
