@use "./../../variables.scss" as *;

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
  padding: 20px;
}

.menuButton {
  @include tactile-button($jeopardy-blue, white);

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  font-weight: bold;

  position: relative;
}
