div.currently-playing-widget {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

div.currently-playing-widget progress {
	margin: 0px 10px;
}

div.currently-playing-widget svg {
	transition: all .2s;
	margin-left: 10px;
	border-radius: 5px;
	padding: 3px;
}

div.currently-playing-widget svg:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.113);
}