.edit-board {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.edit-board > .value-container {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

.edit-board .selected-card .search-box {
	overflow: scroll;
	max-height: 100px;
	background-color: antiquewhite;
}

.edit-board .game-board > .game-col > .game-cell > textarea {
	font-size: 14px;
	font-weight: bold;
	color: yellow;
	border: none;
	background-color: transparent;
	width: var(--cell-width);
	height: var(--cell-height);
	text-align: center;
	align-content: center;
	outline: none;
	box-sizing: border-box;
	resize:none;
}

.edit-board .game-board > .game-col > .game-cell > input:focus {
	border-bottom: 2px solid white;
}