.game-board-and-sidebar {
	position: relative;
	display: flex;
	flex-direction: row;
	width: min-content;
	height: min-content;
}

.game-board-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-board {
	position: relative;
	display: flex;
	flex-direction: row;

	width: min-content;
	height: min-content;
	margin-right: auto;
}

.game-board > .game-col {
	display: flex;
	flex-direction: column;
}

.game-board > .game-col > .game-cell p,
.game-board > .game-col > .game-cell textarea {
	text-transform: UPPERCASE;
}

.game-board > .game-col > .game-cell {
	--border-size: 2px;
	--cell-width: 150px;
	--cell-height: 75px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: var(--cell-width);
	height: var(--cell-height);

	background-color: var(--jeopardy-blue);
	border: var(--border-size) solid black;
	box-sizing: border-box;

	position: relative;
}

.edit-board .game-board > .game-col > .game-cell:hover {
	cursor: pointer;
	opacity: .8;
}

.edit-board .game-board > .game-col > .game-cell.category:hover {
	cursor: inherit;
	opacity: 1;
}

.game-board > .game-col > .game-cell > svg {
	/* daily double sign when editing */
	position: absolute;
	/* z-index: 1; */
	top: 0;
	right: 0;
	color: red;
}

.game-board > .game-col > .game-cell.revealed > p {
	font-size: 12px;
}

.game-board > .game-col > .game-cell:first-child {
	border-top-width: calc(2*var(--border-size));
}
.game-board > .game-col > .game-cell:last-child {
	border-bottom-width: calc(2*var(--border-size));
}
.game-board > .game-col:first-child > .game-cell {
	border-left-width: calc(2*var(--border-size));
}
.game-board > .game-col:last-child > .game-cell {
	border-right-width: calc(2*var(--border-size));
}

.game-board > .game-col > .game-cell > p {
	font-size: 36px;
	font-weight: bold;
	color: var(--jeopardy-yellow);
}

.game-board > .game-col > .game-cell.category > p {
	font-size: 14px;
	color: white;
}

.game-board > .selected-card.editing > .question-box {
	background-color: rgb(35, 36, 124);
	color: white;
}

.game-board > .selected-card {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex; /* flex when shown */
	align-items: center;
	justify-content: center;

	transform-origin: center;
    animation: appear 1s forwards;
}

.game-board > .selected-card > .question-box {
	width: 100%;
	height: 100%;
	background-color: var(--jeopardy-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.game-board > .selected-card > .question-box > p.empty-message {
	color: white;
}

.game-board > .selected-card > .question-box .reveal-button {
	font-size: 64px;
	color: white;
	transition: all .2s;
	padding: 20px 30px;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.game-board > .selected-card > .question-box .reveal-button:hover {
	color: rgb(84, 84, 84);
	cursor: pointer;
}

.game-board > .selected-card > .question-box .close-button {
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(-30%) translateY(30%);
	color: var(--jeopardy-yellow);
	font-size: 36px;
	transition: all .2s;
	z-index: 3;
}

.game-board > .selected-card > .question-box .close-button:hover {
	opacity: .6;
}

.game-board > .selected-card > .question-box > .answer-box {
	width: 100%;
	height: 100%;
	animation: fade-in 1s forwards;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.game-board > .selected-card > .question-box > .answer-box > .song-card {
	padding-top: 10px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	z-index: 2;
}

#bg-wrap {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
	opacity: .4;
}

.game-board > .selected-card > .question-box > .answer-box > .background-image {
	z-index: 1;
	top: 0;
	left: 0;
	position: absolute;
	width: 200%;
	height: 100%;
	/* Background sampled from css3patterns
		https://projects.verou.me/css3patterns/#carbon */
	/*
		color 1: #151515
		color 2: #222
		color 3: #1b1b1b
		color 4: #242424
		color 5: #131313
	*/
	background:
		linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
	animation: scroll 30s linear 0s infinite;
}

.game-board > .selected-card > .question-box > .answer-box > .song-card > .image-container {
	height: 80%;
	width: 100%;
}

.game-board > .selected-card > .question-box > .answer-box > .song-card > .text-container {
	height: 20%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.game-board > .selected-card > .question-box > .answer-box > .song-card > .text-container > p {
	padding: 0;
	margin: 0;
	color: var(--jeopardy-yellow);
	font-weight: bold;
	text-transform: UPPERCASE;
}

.game-board > .selected-card > .question-box > .answer-box > .song-card img {
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
}

.game-board > .selected-card > .question-box > .answer-box.hidden {
	display: none;
}

@keyframes appear {
	0% {
		transform: scale(0) rotateY(180deg);
	}
	50% {
		transform: scale(.75) rotateY(90deg);
	}
	100% {
		transform: scale(1) rotateY(0deg);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes scroll {
	0% {
		left: -100%;
	}
	100% {
		left: 0;
	}
}

.preview-selector {
	display: contents;
}

.edit-board {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.edit-board.preview {
	margin: 30px 0px;
	width: min-content;
}

.edit-board.preview:hover {
	background-color: whitesmoke;
	cursor: pointer;
}

.edit-board > .value-container {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

.edit-board > .value-container > svg {
	/* this is our dice! */
	font-size: 30px;
	color: rgb(119, 0, 0);
	margin-left: -15px;
	cursor: pointer;
}

.edit-board .selected-card .search-box {
	overflow: scroll;
	max-height: 100px;
	background-color: antiquewhite;
}

.edit-board .selected-card .search-box .search-item {
	padding: 10px 0px;
}

.edit-board .selected-card .search-box .search-item p {
	margin: 0;
	color: black;
}

.edit-board .selected-card .search-box .search-item:hover {
	background-color: whitesmoke;
}

/* .edit-board .game-board > .game-col > .game-cell.populated {
	align-items: flex-start;
} */

.edit-board .game-board > .game-col > .game-cell.populated > p:first-child {
	font-size: 10px;
}

.edit-board .game-board > .game-col > .game-cell.populated > p {
	font-size: 12px;
	margin: 0px 0px;
}

.edit-board .game-board > .game-col > .game-cell > textarea {
	font-size: 14px;
	font-weight: bold;
	color: white;
	border: none;
	background-color: transparent;
	width: var(--cell-width);
	height: var(--cell-height);
	text-align: center;
	align-content: center;
	outline: none;
	box-sizing: border-box;
	resize:none;
}

.edit-board .game-board > .game-col > .game-cell > input:focus {
	border-bottom: 2px solid white;
}