.game-board {
	position: relative;
	display: flex;
	flex-direction: row;

	width: min-content;
	height: min-content;
}

.game-board > .game-col {
	display: flex;
	flex-direction: column;
}

.game-board > .game-col > .game-cell p,
.game-board > .game-col > .game-cell textarea {
	text-transform: UPPERCASE;
}

.game-board > .game-col > .game-cell {
	--border-size: 2px;
	--cell-width: 150px;
	--cell-height: 75px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: var(--cell-width);
	height: var(--cell-height);

	background-color: var(--jeopardy-blue);
	border: var(--border-size) solid black;
	box-sizing: border-box;
}

.edit-board > .game-board > .game-col > .game-cell:hover {
	cursor: pointer;
	opacity: .8;
}

.edit-board > .game-board > .game-col > .game-cell.category:hover {
	cursor: inherit;
	opacity: 1;
}

.game-board > .game-col > .game-cell:first-child {
	border-top-width: calc(2*var(--border-size));
}
.game-board > .game-col > .game-cell:last-child {
	border-bottom-width: calc(2*var(--border-size));
}
.game-board > .game-col:first-child > .game-cell {
	border-left-width: calc(2*var(--border-size));
}
.game-board > .game-col:last-child > .game-cell {
	border-right-width: calc(2*var(--border-size));
}

.game-board > .game-col > .game-cell > p {
	font-size: 36px;
	font-weight: bold;
	color: var(--jeopardy-yellow);
}

.game-board > .game-col > .game-cell.category > p {
	font-size: 14px;
	color: white;
}

.game-board > .selected-card {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: aqua;

	display: flex; /* flex when shown */
	align-items: center;
	justify-content: center;

	transform-origin: center;
    animation: appear 1s forwards;
}

.game-board > .selected-card > .question-box {
	width: fit-content;
	height: fit-content;
	background-color: azure;
}

@keyframes appear {
    0% {
        transform: scale(0) rotateY(180deg);
    }
    50% {
        transform: scale(.75) rotateY(90deg);
    }
    100% {
        transform: scale(1) rotateY(0deg);
    }
}

.edit-board {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.edit-board.preview {
	margin: 30px 0px;
}

.edit-board.preview:hover {
	background-color: whitesmoke;
	cursor: pointer;
}

.edit-board > .value-container {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

.edit-board .selected-card .search-box {
	overflow: scroll;
	max-height: 100px;
	background-color: antiquewhite;
}

.edit-board .selected-card .search-box .search-item {
	padding: 10px 0px;
}

.edit-board .selected-card .search-box .search-item p {
	margin: 0;
}

.edit-board .selected-card .search-box .search-item:hover {
	background-color: whitesmoke;
}

/* .edit-board .game-board > .game-col > .game-cell.populated {
	align-items: flex-start;
} */

.edit-board .game-board > .game-col > .game-cell.populated > p:first-child {
	font-size: 10px;
}

.edit-board .game-board > .game-col > .game-cell.populated > p {
	font-size: 12px;
	margin: 0px 0px;
}

.edit-board .game-board > .game-col > .game-cell > textarea {
	font-size: 14px;
	font-weight: bold;
	color: white;
	border: none;
	background-color: transparent;
	width: var(--cell-width);
	height: var(--cell-height);
	text-align: center;
	align-content: center;
	outline: none;
	box-sizing: border-box;
	resize:none;
}

.edit-board .game-board > .game-col > .game-cell > input:focus {
	border-bottom: 2px solid white;
}