/************** VARIABLES **************/
$jeopardy-blue: rgb(0, 0, 137);
$jeopardy-yellow: rgb(255, 212, 70);

$success-green: green;
$failure-red: red;

/************** MIXINS **************/
@mixin tactile-button(
  $background-color: $jeopardy-blue,
  $shadow-color: white,
  $offset: 0.3rem,
  $radius: 0.4rem
) {
  border: none;
  border: 0.1rem solid $shadow-color;

  background-color: $background-color;
  border-radius: $radius;
  padding: 1% 2%;
  box-shadow: $offset $offset 0 $shadow-color;

  cursor: pointer;

  transition-property: box-shadow, transform;
  transition-duration: 0.3s;

  &:hover {
    transform: translate($offset, $offset);
    box-shadow: 0 0 0 $shadow-color;
  }
}

@mixin flex-default($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

/************** ANIMATIONS **************/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
